@mixin button-pseudo-styles {
  position: relative;
  width: 0;
  height: 0;
  left: 40%;
  right: 0;
  top: -5px;
  bottom: 0;
}

button {
  text-indent: -5000px;
  display: block;
  height: 100px;
  width: 100px;
  @include border-radius(100px);
  z-index: 1000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:after, &:before {
   @include button-pseudo-styles;
   @include after-styles;
  }
}

button.play {
  &:after {
    border: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #fff;
  }

  body.playing & {
    display: none;
  }
}

button.rewind {
  display: none;

  &:before {
    border-left: 10px solid #fff;
    height: 50px;
    left: 23px;
    top: 25px;
  }

  &:after {
    left: 13px;
    top: -37px;
    border: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #fff;
  }

  body.played & {
    display: block;
  }
}
