@include keyframes(garage-arrival) {
  0%   { right: -1100px; }
  80%  { right: 100px; }
  100% { right: 100px; }
}

@mixin garage-styles {
  width: 350px;
  height: 165px;
  background: image-url('garage.png') no-repeat;
  background-size: 350px 165px;
  position: absolute;
}

div.garage {
  @include garage-styles;
  right: 0;
  top: 370px;
  @include animation(garage-arrival 8s linear 1 0s forwards);
  @include animation-fill-mode(forwards);

  &:after {
    @include garage-styles;
    content: '.';
    text-indent: -5000px;
    display: block;
    background-position: -120px 0;
    right: -120px;
    z-index: 3;
  }
}
