@include keyframes(garage-arrival) {
  0%   { right: -1100px; }
  80%  { right: 200px; }
  100% { right: 200px; }
}

@mixin garage-styles {
  width: 350px;
  height: 165px;
  background: image-url('garage.png') no-repeat;
  background-size: 350px 165px;
  position: absolute;
}

div.garage {
  @include garage-styles;
  right: -1100px;
  top: 475px;

  body.playing & {
    @include animation(garage-arrival 8s linear 1 0s forwards);
  }

  &:after {
    @include after-styles;
    @include garage-styles;
    background-position: -120px 0;
    right: -120px;
    z-index: 3;
  }
}
