@include keyframes(passing-country) {
  0%   { background-position: 500px 0; }
  80%  { background-position: -800px 0; }
  100% { background-position: -800px 0; }
}

@mixin animate-landscape {
  body.playing & {
    @include animation(passing-country 8s linear 1 0s forwards);
  }
}

@mixin hide-text {
  text-indent: -5000px;
}

@mixin after-styles {
  @include hide-text;
  content: '.';
  display: block;
}
