@include keyframes(passing-country) {
  to   { background-position: -700px 0; }
  from { background-position: 500px 0; }
}

@mixin animate-landscape {
  @include animation(passing-country 8s linear 1 0s forwards);
}

@include keyframes(arriving-home) {
  to   { right: 500px; }
  from { right: -700px; }
}

@mixin arrival-home {
  @include animation(arriving-home 8s linear 1 0s forwards);
}
