@include keyframes(passing-country) {
  0%   { background-position: 500px 0; }
  80%  { background-position: -700px 0; }
  100% { background-position: -700px 0; }
}

@mixin animate-landscape {
  @include animation(passing-country 8s linear 1 0s forwards);
}

@include keyframes(arriving-home) {
  0%   { right: -700px; }
  80%  { right: 500px; }
  100% { right: 500px; }
}

@mixin arrival-home {
  @include animation(arriving-home 8s linear 1 0s forwards);
}
